@charset "UTF-8";




body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    box-shadow: 1px 1px 3px #0000006c;

}
header{
    position: absolute;

}

main{
    font-family: "Texto";
    background-color: #ffffff;
    margin: auto;
    width: fit-content;
    margin: 0 2.5%;
}

.hr{
    width: 80%;
    margin: 5px auto;
}

hr{
    margin: 5% 0;
}

#titulohistoria{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#tituloheader{
    font-size: 160%;
}
#hamburguer{
    font-size: 140%;
}

h1{
    font-family:  var(--fonte-medieval);
    font-size: 325%;
    color: #5D4A66;
    text-align: center;
    margin: 0;
    padding: 5.0% 0;
    text-shadow: 1px 1px 3px #000000;
}
h2{
    font-size: 265%;
    font-family:  var(--fonte-medieval);
    text-shadow: 1px 2px 3px #4A5A509c;
    color: #4A5A50;
    text-align: center;
    padding: 0;
    margin: 0 0 2%;
}


p{
  font-size: 19px;
  margin-bottom: 1.2em; /* Espaço entre parágrafos */
  line-height: 1.6;     /* Espaçamento entre linhas d   */
  text-align: justify;
}
main p{
    text-indent: 0%;
}

.cenafim{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 0;
    font-size: 24px;
    opacity: 0.65;
}




.capa{
    width: 80%;
    height: 450px;
    border-radius: 10px;
    border: 2.0px solid #000;
    display: block;
    margin: 30px auto;
    box-shadow: 1px 1px 3px #0000006c;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.capa:hover{
    transform: scale(1.01); /*Aumenta a imagem*/
    transition: all 0.5s ease-in-out; /*Transição suave*/
    cursor: pointer; /*Muda o cursor para a mãozinha*/
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.painel{
    margin-top: 20px;
    height: 50px;
    display: block;
}
.painelmenor{
    display: flex;
    height: 80% ;
    width: fit-content;
    margin: auto;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    
}
.note {
      margin-top: 40px;
      padding: 15px;
      border-left: 5px solid #c4a000;
      background-color: #fff8dc;
      font-style: italic;
      font-size: 0.95em;
  
}

.note-title {
      font-weight: bold;
      color: #8b5e00;
      margin-bottom: 8px;
}




.botao{
    width: 30px;
    vertical-align: middle;
    border: 1.5px solid #0000007c;
    padding: 7.5px 1px 1px 7.5px;
    border-radius: 10px;
    background-color:#4c5b5c52;
    align-items: center;
    margin: auto;
    color: black;
}
.botaooculto{
    z-index: -1;
}
.botao:hover{
    background-color: #4c5b5c94 ;
    color: #EAE3D2;
}

@media only screen and (min-width:1024px){
    main{
        margin:auto;
        width: 50%;
    }
    #tituloheader{
    font-size: 250%;
    }
    h1{
        font-size: 290%;
    }
    h2{
        font-size: 325%;
    }
    p{
        font-size: 18px;
    }
    
}
@media only screen and (min-width: 500px) {
    .capa{
        width: 50%;
    }
}